html,
body {
  margin: 0px;
  height: 100%;
}

#sidebar {
  grid-area: sidebar;
  overflow-y: scroll;
}

#content {
  grid-area: content;
}

.header {
  grid-area: header;
  font-family: Helvetica, sans-serif;
}

.footer {
  grid-area: footer;
}

.sideBarItem,
.stickerItem {
  max-height: 50px;
  max-width: 50px;
  padding: 5px;
}

.sideBarItem img,
.stickerItem img {
  max-height: 50px;
  max-width: 50px;
  cursor: pointer;
}

.colourPalette {
  padding-top: 3px;
  grid-area: colourP;
  display: flex;
  flex-direction: grid;
  flex-flow: wrap;
}

.lineWeightSelector {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.options {
  grid-area: options;
  padding: 15px;
}

.swatches {
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  max-height: 40px;
  max-width: 40px;
  margin: 5px;
}

.lineWeightContainer {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lineWeight {
  background-color: black;
  aspect-ratio: 1/1;
  border-radius: 50%;
}

.wrapper {
  display: grid;
  height: 100%;
  grid-template-columns: 70px 230px minmax(500px, 1fr);
  grid-template-rows: 35px minmax(500px, 1fr) 160px;
  grid-template-areas:
    "header header header"
    "sidebar content content"
    "colourP colourP options";
  background-color: #fff;
  color: #444;
}
.box {
  background-color: #444;
  color: #fff;
  font-size: 150%;
}
.row {
  display: flex;
  padding: 0;
  padding: 3px 3px 0 56px;
}

.row > div {
  width: 100%;
}

.header {
  background-color: #999;
}

#stickersContainer {
  display: flex;
  justify-content: end;
}
